<div *ngIf="dataLoaded==false" class="text-center">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<ul class="list-group">
  <button (click)="reset()" [class]="getListAllBrands()" routerLink="/cars" class="btn btn-outline-primary bg-warning">Tüm Ürünleri Gör</button>
  <li  class="list-group-item"(click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" 
   [class]="getCurrentBrand(brand)" *ngFor="let brand of brands">   {{brand.brandName}}</li>
</ul>


