<div *ngIf="dataLoaded==false" class="text-center">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<table *ngIf="dataLoaded==true" class="table table-hover text-center ">
    <thead class="bg-info p-2 text-dark bg-opacity-25">

        <th>Araç-Adı</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Günlük-Ücret</th>
       
        <th>Model-Yılı</th>
        <th>Açıklama</th>
    </thead>
    <tbody class="bg-success p-2 text-dark bg-opacity-50">
        <tr *ngFor="let carDetailDto of carDetailDtos">
            <td>{{carDetailDto.carName}}</td>
            <td>{{carDetailDto.brandName}}</td>
            <td>{{carDetailDto.colorName}}</td>
            <td>{{carDetailDto.dailyPrice}}</td>
            <!-- <td>{{carDetailDto.imagePath}}</td>
            <td>{{carDetailDto.typeOfVehicle}}</td> -->
            <td>{{carDetailDto.modelYear}}</td>
            <td>{{carDetailDto.description}}</td>
        </tr>
    </tbody>
</table>
